streamlit
pandas
numpy
matplotlib
seaborn
plotly
wordcloud
scikit-learn
nltk
spacy
torch
transformers
python-docx
openpyxl
PyMuPDF
PyPDF2
pdfplumber
tqdm
textblob
textblob-fr
vadersentiment
en_core_web_sm
